html,body{
    height:140%;
}
body{
    background:url('../image/ChMkJ1cEanOIQ61jAFolEFspLIIAAPUogGE5hYAWiUo755.jpg') no-repeat 0px 0px;
    background-size:110% 140%;
}
.infoBox{
    width:80%;
    height:100%;
    margin:0 auto;
    position:relative;
    display:none;
}
.backgrou{
    width:100%;
    height:91%;
    border-radius:5px;
    background-color:#265a88;
    position:absolute;
    opacity:0.5;
    bottom:10px;
    left:0px;
    z-index:-100;
}
.page{
    position:absolute;
    left:50%;
    margin-left:-51px;
    bottom:20px;
}
#add a,#logout a,#navbar-brand{
    color:#fff;
    font-family: "Microsoft YaHei", sans-serif;
}
#navbar-nav{
    float:left;
    margin:30px 0px;
    padding:0;
}
#navbar-nav li{
    float:left;
    width:100px;
    height:50px;
    line-height:50px;
    text-align: center;
    list-style:none;
    font-size: 16px;
    transition:all linear 0.3s;
}
#navbar-nav li:hover{
    border-radius:20%;
    background-color:#265a88;
}
#navbar-nav li:hover a{
    color:#fff;
}
#navbar-header{
    float:left;
    height:50px;
    width:150px;
    line-height:50px;
    text-align: center;
    margin:30px 0px;
    font-size: 18px;
    background-color:#265a88;
}
#navbar-header a{
    color:#fff;
}
.formSty{
    margin-top:30px;
    margin-right:15px;
    float:right;
}
#inpt{
    padding-left:10px;
    width:200px;
    height:40px;
    border-radius: 5px;
    background-color:transparent;
    color:#fff;
    outline: none;
    border:1px solid #999;
    transition: all linear 0.5s;
}
#inpt:focus{
    border:1px solid #a6e1ec;
}
#searchBtn{
    width:50px;
    height:40px;
    border-radius:5px;
    border:1px solid #999;
    background-color:transparent;
    transition: all linear 0.5s;
    color:#999;
    font-family: "Microsoft YaHei", sans-serif;
}
#searchBtn:hover{
    border:1px solid #a6e1ec;
    color:#fff;
}
#cont{
    width:60%;
    height:200px;
    margin:20px auto;
    border-bottom:1px solid #BCE8F1;
    border-left:1px solid #BCE8F1;
    padding:0px 10px;
    position:relative;
}
#poster{
    position:absolute;
    left:-60px;
    top:10px;
}
#poster img{
    width:55px;
    height:55px;
    border-radius:50%;
    border:3px solid #fff;
}
#panel-title{
    margin:0;
    font-size:20px;
    color:#fff;
    font-family: "Microsoft YaHei", sans-serif;
}
#articleImg img{
    width:120px;
    height:120px;
    float:left;
    position:absolute;
    top:40px;
    left:10px;
}
#time{
    color:#BCE8F1;
    position:absolute;
    right:10px;
    top:0px;
    font-family: "Microsoft YaHei", sans-serif;
}
.cont-box{
    width:450px;
    height:120px;
    overflow: hidden;
    position:absolute;
    top:40px;
    left:150px;
    color:#fff;
    font-family: "Microsoft YaHei", sans-serif;
}
.author{
    position:absolute;
    bottom:5px;
    left:10px;
    color:#BCE8F1;
}