<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%=title%></title>
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/perspectiveRules.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
<!--<%if (success.length) {%>-->
<!--<div class="alert alert-success succ" role="alert"><%=success%></div>-->
<!--<%}%>-->
<!--<%if (error.length) {%>-->
<!--<div class="alert alert-danger erro" role="alert"><%=error%></div>-->
<!--<%}%>-->
<div class="boxOne" style="position:absolute;width:100%;z-index:100">